@use '../../utils/utils' as *;

.mainContainer {
  @include setFont();

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .ball {
    height: 50px;
    background: #e8961b;
    width: 50px;
    border-radius: 50%;
  }
}
