.mainContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .ball {
    height: 50px;
    background: #e81b63;
    width: 50px;
    border-radius: 50%;
  }
}
