.mainContainer {
  display: flex;
  flex-direction: row;
  padding: 0 1em;
  gap: 0 !important;
  font-size: 1.8rem;

  div {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 1rem;
  }
}
