@use '../../utils/utils' as *;

.mainContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  .link {
    display: flex;
    justify-content: flex-end;
    grid-column: 3;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    margin-top: 0.5em;
    margin-right: 1em;
  }

  h2 {
    @include setFont(1.5rem, bold, normal);

    margin: auto;
    color: var(--darkText);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .dataContainer {
    margin: auto;
    color: white;
    grid-column: 3;

    .name {
      @include setFont(1rem, bold, normal);
    }

    .price {
      @include setFont(0.8rem, normal, italic);

      text-align: end;
    }
  }
}
