@use '../utils/utils' as *;

header {
  @include setFont();

  color: var(--mainText);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-items: center;
  background-color: var(--mainColor1);
  height: 12rem;

  .icon {
    width: 8em;
    height: 8em;
    fill: var(--darkText);
  }
}

.doggoContainer {
  display: flex;
}

.titleContainer {
  display: flex;
  align-items: center;

  h1 {
    font-size: 1rem;
  }
}

.sectionTitle {
  @include setFont(1rem, bold);

  display: flex;
  flex-direction: row;
  padding: 0 1em;
  background-color: var(--mainColor2);

  p {
    color: var(--mainText);
  }
}
