@use '../../utils/utils' as *;

.mainContainer {
  @include setFont();

  color: white;
  background-color: $mainColor2;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  height: 50px;

  .contentHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
