@use "sass:map";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$mainFont: 'Lato', sans-serif;

$mainColor: #f94e90;

@mixin setColors($front, $back) {
  color: $front;
  background-color: $back;
}

$theme1: (li1:#f4f4f4, li2:#ffcd75   , li3:#ef7d57  ,da1:#1a1c2c , da2:#38b764  , da3:#86bcd1);

@function get-color($themeName) {
  @return map.get($theme-colors, $themeName);
}

@mixin customBorder() {
  border: solid transparent; // need this to work on chorme!!!
  border-image-slice: 30;
  border-image-width: 32px 32px;
}

@mixin desktopResolution {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
