@use '../../utils/utils' as *;

.mainContainer {
  @include setFont();

  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 10rem);
  grid-template-columns: 1fr 1fr;

  li:nth-child(odd) {
    background-color: var(--mainColor2);
  }

  li:nth-child(even) {
    background-color: var(--mainColor3);
  }
}
