@use '../../utils/utils' as *;

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    border: none;
    background-color: transparent;
  }

  .icon {
    fill: $mainColor4;
    width: 2em;
    height: 2em;
  }
}
